@charset "utf-8";

/*------------------------------
共通
--------------------------------*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
}

body {
  color: #707070
}

.wrapper {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

li {
  list-style: none;
}

h2 {
  width: 400px;
}

/*------------------------------
.top
--------------------------------*/

h1 {
  /* position: fixed; */
  padding: 30px;
  width: 13%;
}

.top {
  background-color: #84a9bf;
  height: 100vh;
}

.top-img-box {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  max-height: 70vh;
}

.top-img1 {
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 2s;
}

.top-img2 {
  position: relative;
  width: 40%;
  transition: 2s;
}


.top-img3 {
  width: 70%;
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: 100;
  transition: 2s;
}

.top-img-box:hover .top-img1,
.top-img-box:hover .top-img3 {
  z-index: 100;
  width: 65%;
  transition: 2s;
  opacity: .5;
}


.top-img-box:hover .top-img2 {
  z-index: 1000;
  width: 45%;
  transition: 2s;
}


/*------------------------------
section.about
--------------------------------*/

.about {
  background-color: #84a9bf;
  padding-top: 100px;
}

.about-top {
  position: relative;
}

.about-top h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%, -50%);
}

.about-contents {
  background-color: #FFFFF5;
  padding-bottom: 300px;
}

.about-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-img-box {
  width: 35%;
}

.about-text {
  line-height: 2.2;
  width: 40%;
}


/*------------------------------
section.works
--------------------------------*/

.works-top {
  background-color: #FFFFF5;
  position: relative;
}

.works-top h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%, -50%);
}

.works-contents {
  background-color: #FDEDC0;
  padding-bottom: 300px;
}

.works-list {
  padding: 50px;
  display: grid;
  gap: 50px;
  /* grid-template-columns: repeat(auto-fit,minmax); */
  grid-template-columns: 1fr 1fr;
}

/* 背景が下から出現＋テキスト */

.bgDU {
  position: relative;
  /*テキストの基点となる位置を定義*/
}

.bgDU span.mask {
  position: relative;
  /*背景色の基点となる位置を定義*/
  display: block;
  line-height: 0;
  /*行の高さを0にする*/
  overflow: hidden;
  /*拡大してはみ出る要素を隠す*/
}

.bgDU span.mask::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0;
  /*透過0*/
  transition: .3s ease-in-out;
  /*移り変わる速さを変更したい場合はこの数値を変更*/
  transform: translateY(100%);
  background: #333;
  /*背景色*/
  width: 100%;
  height: 100%;
}

.bgDU:hover span.mask::before {
  /*hoverした時の変化*/
  opacity: 1;
  /*透過なしに変化*/
  transform: translateY(0);
}

.bgDU span.cap {
  /*画像の上のテキスト*/
  position: absolute;
  opacity: 0;
  /*透過0*/
  transition: .5s ease-in-out;
  /*移り変わる速さを変更したい場合はこの数値を変更*/
  z-index: 3;
  /*テキストを前面に出す*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*テキストの位置中央指定*/
  color: #fff;
  /*テキストの色を変えたい場合はここを修正*/
  line-height: 1.5;
  /*行の高さを1.5にする*/
}

.bgDU:hover span.cap {
  /*hoverした時の変化*/
  opacity: 1;
  /*透過なしに変化*/
}

/*------------------------------
section.skill
--------------------------------*/

.skill-top {
  background-color: #FDEDC0;
  position: relative;
}

.skill-top h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%, -50%);
}

.skill-contents {
  text-align: center;
  background: #FFFFF5;
  padding-bottom: 300px;
}

.skill-contents ul {
  display: grid;
  padding: 0 50px;
  gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
}

.skill-contents ul img {
  width: 50%;
  margin: 0 auto;
}

.skill-contents ul p {
  width: 80%;
  margin: 20px auto;
}


/*------------------------------
section.fav
--------------------------------*/

.fav-top {
  background-color: #FFFFF5;
  position: relative;
}

.fav-top h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%, -50%);
}

.fav-contents {
  background: #ADB0F5;
  padding-bottom: 300px;
}

.fav-imgbox {
  position: relative;
  height: 1000px;
  overflow: hidden;
  padding: 0 30px;
}

.fav1 {
  position: absolute;
  top: 100px;
  left: -40px;
  width: 54%;
  overflow: hidden;
}

.fav2 {
  position: absolute;
  top: 0px;
  right: 250px;
  width: 34%;
  overflow: hidden;
}

.fav3 {
  position: absolute;
  top: 40%;
  right: -40px;
  width: 43%;
  overflow: hidden;
}

.fav-text {
  position: absolute;
  width: 50%;
  top: 75%;

}

.fav-text h3 {
  margin-bottom: 10px;
}

.fav-img {
  transform: scale(1);
  transition-duration: .6s;
}

.fav-in {
  transform: scale(1.15);
  transition-duration: .6s;
}

/*------------------------------
section.bio
--------------------------------*/

.bio-top {
  background-color: #ADB0F5;
  position: relative;
}

.bio-top h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%, -50%);
}

.bio-contents {
  background: #FFFFF5;
  padding-bottom: 300px;
}

.bio-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bio-img-box {
  width: 50%;
}

.bio-text {
  line-height: 2.2;
  width: 40%;
  margin-top: 10%;
}

/*------------------------------
section.contact
--------------------------------*/

.contact {
  background: #f9ca78;
  padding-bottom: 300px;
}

.contact-top {
  height: 40vh;
  background: #fff;
  position: relative;
}

.contact-top2 {
  width: 100%;
  height: 40vh;
  background: #f9ca78;
  position: absolute;
  top: 0;
  border-top-right-radius: 40vh;
  /* border-top-left-radius: 40vh; */
}

.contact-contents {
  text-align: center;
}

.contact-contents p {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

/*------------------------------
レスポンシブ max-width 1160
--------------------------------*/

@media (max-width:1160px) {

  /*共通*/

  h2 {
    width: 300px;
  }

  /*skill*/
  .skill-contents ul {
    gap: 80px;
  }

  /*fav

  .fav-contents {
    padding-bottom: 10%;
  }

  .fav-imgbox {
    position: relative;
    height: 900px;
  }

  .fav3 {
    top: 30%;
  }

    /*bio*/

  .bio-flex {
    flex-direction: column;
  }

  .bio-img-box {
    width: 50%;
    margin: 0 0 0 auto;
    margin-right: 80px;
  }

  .bio-text {
    line-height: 2.2;
    width: 80%;
    margin-top: 10%;
  }

}

/*------------------------------
レスポンシブ max-width 800
--------------------------------*/

@media (max-width:800px) {


  /*.top*/

  .top-img1 {
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 2s;
  }

  .top-img2 {
    position: relative;
    width: 60%;
    transition: 2s;
  }


  .top-img3 {
    width: 70%;
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 100;
    transition: 2s;
  }

  /*.about*/

  .about-contents {
    padding-bottom: 200px;
  }

  .about-flex {
    flex-direction: column;
  }

  .about-img-box {
    width: 50%;
  }

  .about-text {
    margin-top: 80px;
    line-height: 2.2;
    width: 80%;
  }

  /*.works*/

  .works-contents {
    padding-bottom: 200px;
  }

  .works-list {
    padding: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  /*.skill*/

  .skill-contents {
    padding-bottom: 200px;
  }

  .skill-contents ul p {
    width: 70%;
  }

  /*fav*/

  .fav-contents {
    padding-bottom: 200px;
  }

  .fav-imgbox {
    height: 700px;
  }

  .fav2 {
    right: 30%;
  }


  .fav3 {
    top: 30%;
  }
  

  .fav-text {
    margin-top: 70px;
    top: 60%;
  }


  /*bio*/
  .bio-img-box {
    width: 70%;
    margin: 0;
    margin-right: 0px;
  }

  .bio-contents {
    padding-bottom: 200px;
  }




}

/*------------------------------
レスポンシブ max-width 550
--------------------------------*/

@media (max-width:550px) {

  /*共通*/

  h1 {
    padding: 10px;
    width: 20%;
    padding: 10px 10px 100px 10px;
  }

  h2 {
    width: 200px;
  }

  /*.top*/

  .top-img-box {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    max-height: 80vh;
  }

  .top-img1 {
    width: 80%;
  }

  .top-img2 {
    width: 80%;
  }


  .top-img3 {
    width: 80%;
  }
  /*.about*/

  .about-contents {
    padding-bottom: 100px;
  }

  .about-img-box {
    width: 70%;
  }


  /*.works*/

  .works-list {
    display: block;
    flex-direction: column;
  }

  .works-list li {
    margin-bottom: 50px;
  }


  .works-contents {
    padding-bottom: 100px;
  }

  /*.skill*/

  .skill-contents {
    padding-bottom: 100px;
  }

  /*fav*/

  .fav-contents {
    padding-bottom: 100px;
  }

  .fav-imgbox {
    height: 700px;
  }

  .fav3 {
    top: 20%;
    left: 60%;
  }

  .fav-text {
    top: 50%;
    width: 90%;
  }


}


/*------------------------------
レスポンシブ max-width 375
--------------------------------*/
@media (max-width:375px) {

  /*共通*/

  h2 {
    width: 150px;
  }


  /*fav*/

  

  .fav3 {
    top: 15%;
    left: 60%;
  }

  .fav-text {
    top: 30%;
  }



}

