@charset "utf-8";

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #414255;
}


img {
  vertical-align: bottom;
  max-width: 100%;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.more1,
.more2 {
  text-align: right;
  position: relative;
  padding-bottom: 10px;
  color: #0C5013;
}

.more1::before,
.more2::before {
  position: absolute;
  content: '→';
  bottom: -5px;
  right: -5px;
  transition-duration: .3s;
}

.more1:hover.more1::before,
.more2:hover.more2::before {
  bottom: -5px;
  right: -15px;
  transition-duration: .3s;
}

.more1:hover.more1 a,
.more2:hover.more2 a {
  font-size: 22px;
  opacity: .7;
  transition-duration: .3s;
}


.more1 a,
.more2 a {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  /* z-index: 100; */
}

/*-------------------------------
header
-------------------------------*/


header {
  background-image: url(../img/top.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  width: 20%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* nav */

.burger {
  position: fixed;
  right: 0;
}

.nav {
  display: flex;
  padding-top: 20px;
}

.nav li {
  padding-right: 30px;
}

.nav li:hover {
  transform: scale(1.1);
  transition-duration: .3s;
}

.nav a {
  color: #fff;
}

.openbtn {
  display: none;
}


/*-------------------------------
section .top
-------------------------------*/

.top {
  /* mix-blend-mode: difference;
  background-color: #fff; */
  text-align: center;
  /* width: 60%; */
  margin: 0 auto;
  padding: 200px 0;
  font-size: 24px;
  line-height: 2.3;
}

/*-------------------------------
section .info
-------------------------------*/

.info {
  background-image: url(../img/info-back2.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 20px;
}

.info p {
  padding-top: 15%;
  line-height: 3;
}

/*-------------------------------
section .veg
-------------------------------*/

.veg {
  padding-top: 140px;
  /* mix-blend-mode: difference;
  background-color: #fff; */
}

.veg-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.veg-left {
  margin-right: 100px;
  padding-left: 30px;
  max-width: 45%;
}

.veg-left h2 {
  line-height: 2;
  margin-bottom: 10%;
}

.veg-left p {
  font-size: 18px;
  line-height: 3;
}

.veg-imgbox {
  max-width: 50%;
}

/*-------------------------------
section .bowl
-------------------------------*/

.bowl-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bowl-right {
  margin-left: 100px;
  padding-right: 30px;
  max-width: 42%;
}

.bowl-right h2 {
  margin-bottom: 10%;
}

.bowl-right p {
  font-size: 18px;
  line-height: 3;
}

.bowl-imgbox {
  max-width: 50%;
}

.bowl {
  position: relative;
  /* mix-blend-mode: difference;
  background-color: #fff; */
}

.color-box {
  position: absolute;
  bottom: 0;
  height: 100px;
  /* max-width: 1920px; */
  width: 100%;
  background-color: #F46161;
  z-index: -1;
}

/*-------------------------------
section .mission
-------------------------------*/

.mission {
  background-color: #F46161;
  color: #fff;
  text-align: center;
  padding: 100px 0 200px;
}

.mission ul {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

}

.mission li {
  position: relative;
}

.mission li::before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/kakko.png);
  background-repeat: no-repeat;
  top: 15px;
  left: 0;
}


.mission li::after {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/kakko.png);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.mission-pic {
  width: 80%;
  margin: 30px auto;
}

.mission h3 {
  margin-bottom: 20px;
}

.mission p {
  line-height: 1.78;
  width: 70%;
  margin: 0 auto 40px;
}

/*-------------------------------
section .contact
-------------------------------*/  

.contact  {
  background-color: #0C5013;
  color: #EBE3C6;
  padding: 100px 0 200px;
}


.contact h2 {
  margin: 0 0 80px;
  text-align: center;
}

.contact-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map {
  max-width: 40%;
  height: auto;
}

address {
  margin-top: 50px;
  font-style: normal;
}

/*-------------------------------
footer .contact
-------------------------------*/
footer {
  text-align: center;
  background-color: #EBE3C6;;
  padding: 50px 0;
}

footer img {
  margin-bottom: 50px;
}

small {
  display: block;
}

/*-------------------------------
rレスポンシブ　１070〜
-------------------------------*/
@media (max-width: 1025px) {


   /*section .top*/

  .top p {
    font-size: 22px;
  }

  /*section .info*/

  .info {
    display: table;
  }

  .info .wrapper {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .info p {
    padding-top: 0;
  }

  /*section .veg*/

  .veg-left {
    margin-right: 60px;
  }

  .veg-left h2 {
    font-size: 20px;
    margin-bottom: 8%;
  }

  .veg-left p {
    font-size: 16px;
    line-height: 2;
  }

  /*section .veg*/

  .bowl {
    margin-top: 50px;
  }

  .bowl-right {
    margin-left: 50px;
  }

  .bowl-right h2 {
    font-size: 20px;
    margin-bottom: 8%;
  }

  .bowl-right p {
    font-size: 16px;
    line-height: 2;
  }

  .color-box {
    height: 60px;
  }

  /*section .mission*/

  .mission h2 {
    font-size: 20px;
  }

  .mission h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .mission ul {
    display: flex;
    flex-direction: column;
    gap: 200px;
  }

  .mission-pic {
    width: 40%;
    margin: 0;
  }

  .mission-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mission-text {
    width: 70%;
  }

  /*section .contact*/

  .contact h2 {
    font-size: 20px;
  }

  address {
    margin-top: 30px;
  }

}

/*-------------------------------
rレスポンシブ　630〜
-------------------------------*/
@media (max-width: 630px) {


  /*header*/

  h1 {
    width: 50%;
  }

  /* nav */

  /* MENUがCLOSEに*/

  /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
  .openbtn {
    display: block;
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    position: relative;
    /* background: #FA7777; */
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  /*ボタン内側*/
  .openbtn span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    width: 45%;
  }


  .openbtn span:nth-of-type(1) {
    top: 13px;
  }

  .openbtn span:nth-of-type(2) {
    top: 19px;
  }

  .openbtn span:nth-of-type(3) {
    top: 25px;
  }

  .openbtn span:nth-of-type(3)::after {
    content: "Menu";
    /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 5px;
    left: -2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

  .openbtn.active {
    position: absolute;
    right: 0;
  }


  .openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn.active span:nth-of-type(3) {
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(3)::after {
    content: "Close";
    /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  }

  .nav {
    display: none;
  }

  .nav-active {
    display: block;
  }

  .nav-active li {
    margin-top: 30px;
  }

  .nav-active li:first-child {
    margin-top: 100px;
  }

  .black {
    /* position: fixed;
  right: 0; */
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 1;
    text-align: center;
    /* display: inline-block; */
  }


  /*section .top*/

  .top {
    padding: 150px 0;
  }

  .top p{
    font-size: 20px;
    line-height: 2.3;
  }

  /*section .info*/

  .info {
    height: 80vh;
    font-size: 16px;
  }

  .info p {
    line-height: 2.3;
  }

  .no-br {
    display: none;
  }


  /*section .veg*/

  .veg {
    padding: 140px 30px 0;
  }

  .veg-flex {
    flex-direction: column;
  }

  .veg-left {
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .veg-left h2 {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 10%;
  }


  .veg-imgbox {
    max-width: 80%;
  }

  .veg-left p {
    width: 90%;
    margin: 0 auto;
  }

  /*section .bowl*/

  .bowl-flex {
    flex-direction: column-reverse;
  }

  .bowl-right {
    margin-left: 0;
    padding: 0 30px;
    /* margin-bottom: 30px; */
    max-width: 100%;
  }

  .bowl-right h2 {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 10%;
  }

  .bowl-imgbox {
    max-width: 100%;
  }

  .bowl-right p {
    width: 90%;
    margin: 0 auto;
  }

  .bowl {
    position: static;
  }

  .color-box {
    display: none;
  }

  /*section .mission*/

  .mission {
    padding: 70px 0;
  }

  .mission h2 {
    font-size: 18px;
  }

  .mission h3 {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .mission ul {
    margin-top: 50px;
    gap: 100px;
  }

  .mission li {
    max-width: 400px;
    margin: 0 auto;
  }

  .mission-pic {
    max-width: 100%;
    margin: 0;
  }

  .mission-flex {
    flex-direction: column;
  }

  .mission-text {
    width: 100%;
  }

  .mission p {
    /* line-height: 1.78; */
    width: 90%;
    /* margin: 0 auto 40px; */
  }

  /*section .contact*/

  .contact {
    text-align: center;
    padding-bottom: 100px;
  }

  .contact h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .contact-flex {
    flex-direction: column;
  }

  .map {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
  }

  /*-------------------------------
  footer .contact
  -------------------------------*/
  footer {
    padding: 50px 0;
  }

  footer img {
    margin-bottom: 20px;
  }

}

/*-------------------------------
rレスポンシブ　375まで
-------------------------------*/
@media (max-width: 375px) {

     /*section .top*/

     .top p {
      font-size: 17px;
    }

    .info p {
      padding: 50px 0;
    }
}