@charset 'utf-8';


/*==================================
共通
===================================*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
}


body {
  background-color: #F7EC93;
  text-align: center;
  color: #fff;
  transition: 1s;
  line-height: 1.87;
  font-family: 'Zen Kurenaido', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1160px;
  padding: 0 30px;
  margin: 0 auto;
}

h2::before,
h2::after {
  content: '=';
  color: #fff;
  margin: 0 15px;
}

h3 {
  font-size: 20px;
}

.s-br {
  display: none;
}

.t-br {
  display: none;
}

p {
  font-size: 18px;
}

/*===================================
header
===================================*/

h1 {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 10%;
  text-align: center;
  width: 13%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

/*スライダーのためのcss*/

header {
  width: 90%;
  margin: 30px auto 0;
}

.top-s {
  display: none !important;
}

ul {
  list-style: none;
}


.slider {
  position: relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
}

.slider img {
  margin: 0 auto;
}


/*====================================
info
===================================*/

.info {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-text {
  width: 50%;
}

.info-maintext {
  font-size: 20px;
  line-height: 1.2;
}

/*==================================
custom
===================================*/
.cus {
  margin-top: 150px;
}

.cus-item {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cus-br {
  display: none;
}

.cus-item h3 {
  margin-bottom: 8px;
}

.cus-item+.cus-item {
  margin-top: 80px;
}

/*===================================
news
===================================*/

.news {
  margin-top: 150px;
}

.news h2 {
  margin-bottom: 50px;
}

.news-item p {
  margin-top: 3px;
  padding-bottom: 3px;
  line-height: 2;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.news-item time {
  margin-right: 50px;
}

.number {
  display: inline-block;
  border-radius: 50%;
  padding: 0 10px;
}

.number+.number {
  margin-left: 30px;
}

.news span {
  transition: .6s ease-out;
}

.news span:hover {
  display: inline-block;
  background-color: #62397C;
  transition: .6s ease;
}

.num-box {
  margin-top: 10px;

}

.hide {
  display: none;
}

/*===================================
make
===================================*/

.make {
  margin-top: 150px;
}

.make h2 {
  margin-bottom: 50px;
}


.make img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.gallery {
  margin: 0 auto;
  max-width: 480px;
}

/* .bigimg-container {
  margin-bottom: 5px;
  text-align: top;
} */

.thumbs {
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.thumbs::before {
  display: inline-block;
  position: absolute;
  content: " ";
  background-image: url(../img/dot.png);
  background-repeat: repeat-x;
  height: 10px;
  background-size: contain;
  width: calc(100% - 30px);
  z-index: -1;
  top: 50%;
  left: 15px;

}

.thumbs li {
  width: 90px;
  border-radius: 50%;
}

.thumbs li:hover {
  border: 3px #fff solid;
  box-sizing: content-box;
}

/*==================================
access
===================================*/

.access {
  margin-top: 150px;
}

.access h2 {
  margin-bottom: 50px;
}

.access h4 {
  width: 40%;
}

.access p {
  width: 50%;
  text-align: left;
}

.access-flex {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}



/*===================================
sns
===================================*/

.sns h2 {
  margin-top: 150px;
}

.sns p {
  margin-bottom: 50px;
}

.sns img {
  width: 30px;
}

.sns a:first-of-type {
  margin-right: 40px;
}

.sns-br {
  display: none;
}

/*===================================
footer
===================================*/

footer {
  margin: 100px 0;
}

/*===================================
top-button
===================================*/


.top-link {
  display: none;
}

.top-link.open {
  display: block;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 500;
}

/*===================================
レスポンシブ　　　　８4０　
===================================*/

@media (max-width:840px) {

  /* 共通 */

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }


  /* cus */

  .cus-item {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .cus h3 {
    margin-top: 30px;
  }

  /* make */

  .thumbs li {
    width: calc(100%/5);
  }
}

/*===================================
レスポンシブ　　　　640
===================================*/

@media (max-width:640px) {

  /* header */

  h1 {
    width: 25%;
    left: 13%;
  }

  .top-b {
    display: none !important;
  }

  .top-s {
    display: block !important;
  }



  /*info*/
  .info {
    margin-top: 100px;
    flex-direction: column;
  }

  .info-text {
    width: 70%;
    margin: 0 auto;
  }

  .info p {
    margin-bottom: 30px;
  }

  .info-maintext br {
    display: none;
  }

  /* cus */
  .cus-br {
    display: block;
  }

  /*news*/

  .t-br {
    display: block;
  }

  .news-item {
    text-align: center;
  }

  .news-item time {
    margin-right: 0px;
  }

  .news-item p {
    margin: 0 auto;
    text-align: left;
  }

  /*access*/

  .access h4 {
    width: 100%;
  }

  .access p {
    width: 100%;
    text-align: center;
  }

  .access-flex {
    flex-direction: column;
    justify-content: center;
  }

  /* sns */
  .sns-br {
    display: block;
  }
}

/*===================================
レスポンシブ　　　320
===================================*/

@media (max-width:375px) {

  p {
    font-size: 15px;
  }

  h1 {
    width: 30%;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .s-br {
    display: block;
  }

  .news-item time {
    margin-right: 0px;
  }
}